<footer class="footer bg-dark text-light d-none">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <h4>Address</h4>
                <p>Parth Plastomech Industries, <br>K-1/830, B/H, S.T. Workshop, <br>Sitafal Sabu Street, Chitra
                    GIDC,<br>
                    Bhavnagar (364004).</p>
                <p>Gujarat, India.</p>
            </div>
            <div class="col-md-3">
                <h4>Follow Us On</h4>
                <ul class="list-unstyled d-flex">
                    <li class="mt-2 mx-2"><a href="#"><img src="assets/test/facebook.png" class="choose_img"
                                alt="..."></a></li>
                    <li class="mt-2 mx-2"><a href="#"><img src="assets/test/instagram.png" class="choose_img"
                                alt="..."></a></li>
                    <li class="mt-2 mx-2"><a href="#"><img src="assets/test/youtube.png" class="choose_img"
                                alt="..."></a></li>
                    <li class="mt-2 mx-2"><a href="#"><img src="assets/test/linkedin.png" class="choose_img"
                                alt="..."></a></li>
                    <li class="mt-2 mx-2"><a href=""><img src="assets/test/whatsapp.png" class="choose_img"
                                alt="..."></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us At</h4>
                <p>Email: parthplastrope@gmail.com</p>
                <p>Phone: <br>+91 942 744 8173 <br>+91 884 923 9622<br>+91 953 782 8257<br>+91 972 720 8351</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 Parthplastomech.com. All rights reserved.</p>
        </div>
    </div>
</footer>
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                <a class="btn btn-link" href="">Services</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Address</h4>
                <p>Parth Plastomech Industries, <br>K-1/830, B/H, S.T. Workshop, <br>Sitafal Sabu Street, Chitra
                    GIDC,<br>
                    Bhavnagar (364004).</p>
                <p>Gujarat, India.</p>
                <div class="d-flex pt-2">
                    <span class="mt-2 mx-2"><a href="#"><img src="assets/test/facebook.png" class="choose_img"
                                alt="..."></a></span>
                    <span class="mt-2 mx-2"><a href="#"><img src="assets/test/instagram.png" class="choose_img"
                                alt="..."></a></span>
                    <span class="mt-2 mx-2"><a href="#"><img src="assets/test/youtube.png" class="choose_img"
                                alt="..."></a></span>
                    <span class="mt-2 mx-2"><a href="#"><img src="assets/test/linkedin.png" class="choose_img"
                                alt="..."></a></span>
                    <span class="mt-2 mx-2"><a href=""><img src="assets/test/whatsapp.png" class="choose_img"
                                alt="..."></a></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                <h5 class="text-light fw-normal">Monday - Saturday</h5>
                <p>09AM - 09PM</p>
                <h5 class="text-light fw-normal">Sunday</h5>
                <p>10AM - 08PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact Us At</h4>
                <p>Email: parthplastrope@gmail.com</p>
                <p>Phone: <br>+91 942 744 8173 <br>+91 884 923 9622<br>+91 953 782 8257<br>+91 972 720 8351</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">parthplastomech.com</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a><br><br>
                    Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
                <div class="col-md-6 text-center text-md-end d-none">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>