<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                            src="assets/test/dori_1.jpeg">
                    </div>
                    <div class="col-6 text-start text-center" style="margin-top: -10px;">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                            src="assets/test/logo_smal.jpeg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                            src="assets/test/dori_3.jpeg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                            src="assets/test/dori_2.jpeg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="section-title ff-secondary text-start text-primary fw-normal"><b>About Us</b></h2>
                <h1 class="mb-4">Welcome to Parth Plastomech Industries</h1>
                <p>
                    Established in the year, 2001, we, Parth Plastomech Industries are a leading Manufacturer,
                    Exporter,
                    Supplier
                    and Trader
                    of a huge range of Machinery.
                    We offer a huge line of high quality machine which includes Rope Making Machine,
                    PP Tape
                    Fibrillated Plant, Danline Plant, Monofilament Plant, Baler Twine Extrusion Plant, PP Sutli
                    Plant etc,
                    available
                    at an
                    affordable price.
                    All our products have gained immense appreciation from our client’s side as it has been
                    catering to
                    all the varying requirements of our clients since a long time.
                    We manufacture our products through the latest
                    machinery,
                    equipment, tools that match with the current industry standards and are known for its high
                    performance and
                    bulk
                    output.
                    Our company is obsessed with the quality of the products being offered and therefore, we use the
                    finest
                    quality
                    raw
                    materials that are sourced from vendors, who hold a brilliant reputation in the market.
                    We are backed by a team
                    of
                    skilled and talented group of people. They work incessantly hard and make sure that all the
                    needs of our
                    customers are
                    fulfilled to the fullest.
                    We are Leading Manufacturer and Exporter of 20 years experience of Trunkey Project for Rope
                    Making Machines,
                    HDPE
                    Monofilament Extrusion Plants, PP Tape Fibrillated Extrusion Plant, Danline Extrusion Plant,
                    Sutli Plant and
                    Baler Twine
                    Extrusion Plant realized the amazing growth of Plastic Industry and have seen the bright future
                    of different
                    types of
                    Plastic Processing Machinery and as a result the new company was formed under the name of PARTH
                    PLASTOMECH INDUSTRIES.
                </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">20+
                            </h1>
                            <div class="ps-4">
                                <p class="mb-0">Years of</p>
                                <h6 class="text-uppercase mb-0">Experience</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">23+
                            </h1>
                            <div class="ps-4">
                                <h6 class="text-uppercase mb-0">Countries We export world wide</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>